.DS_Store
!.gitignore
!.htaccess
!web.config
app/config/config.local.neon

vendor/*
log/*
temp/*
databases/*
www/webtemp/*

*.sublime-project
*.sublime-workspace

www/upload/
www/img/instructor
www/img/gallery
www/img/link

.docker/mysql-data/
