services:
	templateFactory: App\Factories\TemplateFactory(%appDir%, null)

	- App\Factories\RouterFactory
	- App\Factories\FormFactory
	- App\Factories\EmailMessageFactory
	- App\Factories\SelectionFactory(..., @cacheStorage)
	- App\Factories\SignInFormFactory

	- App\Factories\IGAFactory
