extensions:
	webloader: WebLoader\Nette\Extension
	injectEnabler: App\InjectEnabler\Extension

php:
	date.timezone: Europe/Prague

nette:
	application:
		errorPresenter: Frontend:Error
		mapping:
			*: App\*Module\*Presenter

	session:
		expiration: 14 days
		save_path: '%appDir%/../temp/sessions'

webloader:
	css:
		backend:
			files:
				- {files: ["*.css", "*.less"], exclude: ["*print*"], in: [%wwwDir%/css, %wwwDir%/css/backend]}
			fileFilters:
				- @lessFilter

	js:
		backend:
			remoteFiles:
				- "//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"
			files:
				- %wwwDir%/js/jquery-1.11.0.min.js
				- %appDir%/../vendor/twbs/bootstrap/js/transition.js
				- %appDir%/../vendor/twbs/bootstrap/js/alert.js
				- %appDir%/../vendor/twbs/bootstrap/js/button.js
				- %appDir%/../vendor/twbs/bootstrap/js/carousel.js
				- %appDir%/../vendor/twbs/bootstrap/js/collapse.js
				- %appDir%/../vendor/twbs/bootstrap/js/dropdown.js
				- %appDir%/../vendor/twbs/bootstrap/js/modal.js
				- %appDir%/../vendor/twbs/bootstrap/js/scrollspy.js
				- %appDir%/../vendor/twbs/bootstrap/js/tab.js
				- %appDir%/../vendor/twbs/bootstrap/js/tooltip.js
				- %appDir%/../vendor/twbs/bootstrap/js/popover.js
				- %appDir%/../vendor/twbs/bootstrap/js/affix.js
				- %wwwDir%/js/live-form-validation.js
				- %wwwDir%/ckeditor/ckeditor.js
				- %wwwDir%/ckeditor/adapters/jquery.js
				- {files: ["*.js"], in: [%wwwDir%/js/shared, %wwwDir%/js/backend]}

parameters:
	mailer:
		developRecipients: []

	database:
		default:
			# Defaults that are overwritten in config.local.neon
			driver: mysql
			host: mysql
			dbname: scubaswtrinec
			user: root
			password: root

includes:
	- config.parameters.neon
	- config.models.neon
	- config.services.neon
	- config.factories.neon
