extensions:
	webloader: WebLoader\Nette\Extension

php:
	date.timezone: Europe/Prague

nette:
	application:
		errorPresenter: Error
		mapping:
			*: App\*Module\*Presenter

	session:
		expiration: 14 days
		save_path: '%appDir%/../temp/sessions'

webloader:
	css:
		frontend:
			files:
				- {files: ["*.css", "*.less"], exclude: ["bootstrap/*", "backend/*", "*print*"], from: %wwwDir%/css}
			fileFilters:
				- @lessFilter

		backend:
			files:
				- {files: ["*.css", "*.less"], exclude: ["bootstrap/*", "frontend/*", "*print*"], from: %wwwDir%/css}
			fileFilters:
				- @lessFilter

	js:
		frontend:
			remoteFiles:
				- "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"
			files:
				- %appDir%/../packagist/nette/nette/client-side/netteForms.js
				- {files: ["*.js"], exclude: ["html5shiv.js", "backend/"], from: %wwwDir%/js}

		backend:
			remoteFiles:
				- "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"
			files:
				- %appDir%/../packagist/nette/nette/client-side/netteForms.js
				- {files: ["*.js"], exclude: ["html5shiv.js", "frontend/"], from: %wwwDir%/js}

includes:
	- config.parameters.neon
	- config.models.neon
	- config.services.neon
	- config.factories.neon
