nette:
	database:
		dsn: 'mysql:host=localhost;dbname=test'
		user:
		password:
		options:
			lazy: yes

	mailer:
		smtp: true
		host: 
		port: 465
		username: 
		password: 
		secure: ssl

parameters:
	mailer:
		developRecipients: []
