services:
	nette.userStorage:
		setup:
			- setNamespace("ScubaSW")

	wlCssFilter: WebLoader\Filter\CssUrlsFilter(%wwwDir%)
	lessFilter: App\WebLoader\LessFilter
	router: @App\Factories\RouterFactory::create
	cacheStorage: Nette\Caching\Storages\FileStorage(%cacheDir%)
	authorizator: App\Services\Authorizator
	authenticator: App\Services\Authenticator
	hash: App\Services\HashService(%authentication.leadingSalt%, %authentication.trailingSalt%)

	- App\Services\TemplateHelper
	- App\Services\Mailer(%productionMode%, %mailer.from%, %mailer.developRecipients%, ...)
	- App\Services\VisitLogger(%productionMode%)

	- App\Database\ContextPool(%database%, @cacheStorage)
	- App\Services\DiscussionService
	-
		class: App\Database\Entities\LogVisitEntity
		setup: [$connectionName("logs")]

	- App\Services\ThumbnailService
	- App\Services\PhotoService
	- App\Services\ImageService
	- App\Services\ImageUploadService
	- App\Database\Entities\UserEntity
	- App\Database\Entities\PhotoEntity
	- App\Database\Entities\ThumbnailEntity
	- App\Database\Entities\LstThumbnailTpEntity
	- App\Database\Entities\ActualityEntity
	- App\Database\Entities\ArticleEntity
	- App\Database\Entities\ContactEntity
	- App\Database\Entities\DiscussionEntity
	- App\Database\Entities\DiscussionBanEntity
	
	-
		class: App\Database\Entities\ActualityPhotoEntity
		setup: [$isOrderable(true)]

	-
		class: App\Database\Entities\InstructorEntity
		setup: [$isOrderable(true)]
	
	-
		class: App\Database\Entities\ArticlePhotoEntity
		setup: [$isOrderable(true)]

	-
		class: App\Database\Entities\LinkEntity
		setup: [$isOrderable(true)]

	-
		class: App\Database\Entities\GalleryEntity
		setup: [$isOrderable(true)]

	-
		class: App\Database\Entities\GalleryPhotoEntity
		setup: [$isOrderable(true)]
