services:
	templateFactory: App\Factories\TemplateFactory(%appDir%, null)

	- App\Factories\RouterFactory
	- App\Factories\FormFactory
	- App\Factories\EmailMessageFactory
	- App\Factories\SelectionFactory(..., @cacheStorage)

	- App\Factories\SignInFormFactory

	- App\Factories\IGAFactory
	- App\Factories\IActualitiesListFactory
	- App\Factories\IArticlesListFactory
	- App\Factories\IGalleriesListFactory
	- App\Factories\ILinksListFactory
	- App\Factories\IDiscussionListFactory

	-
		implement: App\Factories\IGalleryPhotosListFactory
		parameters: [galleryId]
		arguments: [%galleryId%]

	-
		implement: App\Factories\IActualityPhotosListFactory
		parameters: [actualityId]
		arguments: [%actualityId%]

	-
		implement: App\Factories\IArticlePhotosListFactory
		parameters: [articleId]
		arguments: [%articleId%]

	- App\Factories\ChangePasswordFormFactory
	- App\Factories\ManageActualityFormFactory
	- App\Factories\ManageActualityPhotoFormFactory
	- App\Factories\ManageArticleFormFactory
	- App\Factories\ManageArticlePhotoFormFactory
	- App\Factories\ManageContactFormFactory
	- App\Factories\ManageGalleryFormFactory
	- App\Factories\ManageGalleryPhotoFormFactory
	- App\Factories\ManageDiscussionFormFactory
	- App\Factories\ManageDiscussionBanFormFactory
	- App\Factories\ManageInstructorFormFactory
	- App\Factories\ManageLinkFormFactory
