nette:
	mailer:
		smtp: true
		host: 
		port: 465
		username: 
		password: 
		secure: ssl

parameters:
	mailer:
		developRecipients: []

	database:
		default:
			driver: mysql
			host: 127.0.0.1
			dbname:
			user:
			password: