services:
	nette.userStorage:
		setup:
			- setNamespace("AppName")

	wlCssFilter: WebLoader\Filter\CssUrlsFilter(%wwwDir%)
	lessFilter: App\WebLoader\LessFilter
	router: @App\Factories\RouterFactory::create
	cacheStorage: Nette\Caching\Storages\FileStorage(%cacheDir%)
	authorizator: App\Services\Authorizator
	authenticator: Nette\Security\SimpleAuthenticator([
		admin: 12345
	])

	- App\Services\TemplateHelper
	- App\Services\Mailer(%productionMode%, %mailer.from%, %mailer.developRecipients%, ...)
	- App\Services\VisitLogger(%productionMode%)

	- App\Database\ContextPool(%database%, @cacheStorage)
	-
		class: App\Database\Entities\LogVisitEntity
		setup: [$connectionName("logs")]
