{block content}
<h1 n:block=title>{$gallery->name}</h1>

<p><a n:href="galerie"><i class="glyphicon glyphicon-arrow-left"></i> Zpět</a></p>

<hr class="rope_2">

<div class="row">
	<div class="col-md-4 col-sm-4 col-xs-6 picture" n:foreach="$photos as $photo">
		<a href="{$photo->photo|thumb}" title="{$photo->description}">
			<img src="{$photo->photo|thumb:'gallery'}" alt="{$photo->description}" class="img-responsive">
		</a>
	</div>
</div>