{block content}
<h1 n:block=title>Přidat odkaz</h1>

<p class="btns">
	<a n:href="default" class="btn btn-primary"><i class="glyphicon glyphicon-arrow-left"></i> Zpět</a>
</p>

{control manageLinkForm}
