<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="{block metaDescription}{/block}">
	<meta name="keywords" content="{block metaKeywords}{/block}">
	<meta name="robots" content="{block robots}{/block}">
	<meta name="author" content="Jan Mikes - janmikes.cz">

	<title>{block|striptags}{ifset #title}{include title}{/ifset}{/block}</title>

	<link rel="shortcut icon" href="{$basePath}/favicon.ico">
	<link rel="canonical" n:ifset="$canonical" href="{$canonical}">
	{control css}
	
	<!--[if lt IE 9]>
		<script src="{$baseUri}/js/html5shiv.js"></script>
	<![endif]-->
</head>
<body>

	{block layout|orphans}{/block}

	{control js}
	{block js}{/block}

</body>
</html>
